html {
    text-align: center;
    font-size: 10px;
}

body {
    font-size: 2rem;
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
}

.clock {
    border: 25px solid black;
    border-radius: 20%;
    width: 60rem;
    height: 60rem;
    margin: 50px auto;
    position: relative;

}


.hand {
    width: 50%;
    height: 6px;
    background: black;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.05;
    transition-timing-function: ease-in-out;

}
